<table class="table table-striped">
    <thead>
      <tr>
        <th>AADHAR ID</th>
        <th>PATIENT NAME</th>
        <th>PHONE NUMBER</th>
        <th>VISIT DESCRIPTION</th>
        <th>PRESCRIBED MEDICINE</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.phone}}</td>
        <td>{{product.desc}}</td>
        <td>{{product.med}}</td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-warning" (click)="gotolist()">Back</button>
